<!doctype html>
<html>
<head>
	<title> ShopVintageDolls </title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
	<div id="fixbar">

	</div>

	<div id="main">
		<!-- <div class="block"></div> -->
		<div id="logo" align="center">
			<a href="index1.html">
			<img src="logo.png" alt="logo" border="0" max-width="80%" height="auto" style="margin-top: 70px; padding: 20px;">
			</a>
		</div>
	</div>

	<div id="footer">
		<div>
		</div>
		<div>
		</div>
		<div>
		</div>
	</div>
</body>
</html>
