*{
	margin: 0;
	padding: 0;
}
#fixbar{
	/*background-color: yellow;*/
	position: fixed;
	width: 100%;
	height: 3rem;
	box-shadow: 0px 0px 10px;
	
	
}
#main{
	/*background-color: gray;*/
	width: 100%;
	margin: 0 auto;

}
/*.block{
	background-color: green;
	height: 80rem;
	width:  40rem;
	margin: 0 auto;
	padding: 10rem;

}*/
#footer{
	background-color: gray;
	width: 100%;
	height: 20rem;
}
#navbar{
	border-top: solid;
	border-bottom: solid;
	height: ;
	

}
nav{

}