<!doctype html>
<html>
<head>
	<title> ShopVintageDolls </title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
	<div id="fixbar">

	</div>

	<div id="main">
		<div class="block"></div>
		<div class="block"></div>
		<div class="block"></div>
		<div class="block"></div>
		<div class="block"></div>
		<div class="block"></div>
		<div class="block"></div>
		<div class="block"></div>
		<div class="block"></div>
		<div class="block"></div>
	</div>

	<div id="footer">
		<div>
		</div>
		<div>
		</div>
		<div>
		</div>
	</div>
</body>
</html>
