<!doctype html>
<html>
  <head>
  	<title> ShopVintageDolls </title>
  	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="/assets/index.css">
  </head>

  <body>
    <h3>Users List</h3>
    <div>
      <p> <%= users[0].firstname %></p>
    </div>
  </body>
</html>
